#navbar{
    height:40px;
    width:100%;
    background-color: blue;
    display:flex;
    justify-content:space-evenly;
    font-size: 30px;
    padding-top:10px;
    margin-bottom:20px;
}
#container{
    display:grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(1,300px);
    gap:2px;
}